<div style="display: flex; justify-content: center;">
    <h2 style="padding: 0px;" mat-dialog-title>{{data.dialogLabel}}</h2>
</div>
<div mat-dialog-content class="dialog-content">
    <mat-form-field>
        <mat-label>Cargo</mat-label>
        <input matInput [(ngModel)]="data.employee.Cargo" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="data.employee.Nome" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Idade</mat-label>
        <input matInput [(ngModel)]="data.employee.Idade" />
    </mat-form-field>
</div>
<mat-dialog-actions [align]="'end'">
    <button *ngIf="data.showCancelButton" mat-button (click)="onDelete()"
        style="margin-right: 10px;background-color: #eb3737;">Apagar</button>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button [disabled]="!canConfirm()" (click)="onConfirm()">{{data.confirmButtonLabel}}</button>
</mat-dialog-actions>