main {
    width: 100%;
    min-height: 100%;
    background-color: #121D42;
    box-sizing: inherit;
}

.header {
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
    padding: 1rem 0;
}

@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        width: max-content;
    }
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 1vh;
    height: 100%;
    background-position: center;
}

.input-box {
    justify-content: center;
    padding-top: 1vh;
    display: flex;
}