<main class="main">
  <div class="header">
    <h1>{{title}}</h1>
  </div>
  <div class="input-box">
    <mat-form-field>
      <mat-label>Filtre</mat-label>
      <input matInput [(ngModel)]="inputValue" (input)="filterEmployeeByInput($event)">
    </mat-form-field>
  </div>
  <div class="content">
    <app-employee-cards *ngFor="let employee of filteredEmployees" [deleteEmployeeFromList]="deleteEmployeeFromList"
      [employee]="employee"></app-employee-cards>
  </div>
  <app-floating-button [addEmployeeInList]="addEmployeeInList"></app-floating-button>+
  <div class="input-box">
    <button mat-raised-button (click)="getEmployeesHandle()">Ver mais</button>
  </div>
</main>
<router-outlet />