<h2 mat-dialog-title>Detalhes do Funcionário</h2>
<div mat-dialog-content class="dialog-content">
    <mat-form-field>
        <mat-label>Cargo</mat-label>
        <input matInput [(ngModel)]="employee.Cargo">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="employee.Nome">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Idade</mat-label>
        <input matInput [(ngModel)]="employee.Idade">
    </mat-form-field>
</div>
<mat-dialog-actions [align]="'end'" jus>
    <button mat-button (click)="onDelete()" style="margin-right: 35px;background-color: #eb3737;">Apagar</button>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button (click)="onUpdate()" cdkFocusInitial>Atualizar</button>
</mat-dialog-actions>